#izq-arr{
float: left;
position: relative;
height: 50%;
width: 50%;
}
#der-arr{
float: left;
position: relative;
z-index: 5;
height: 50%;
width: 50%;
}
#izq-aba{
float: left;
position: relative;
height: 50%;
width: 50%;
}
#der-aba{
float: left;
position: relative;
height: 50%;
width: 50%;
}
#msg_1{
    border: solid red;
    position: absolute;
    width: 70%;
    height: 70%;
    left:calc(50% - 280px);
    top: 50;
    background-color: aqua;
}
#msg_1 div {
    float:left;
    background-color:orange;
}
#msg_2 div {
    float:left;
    background-color:orange;
}
#msg_3 div {
    float:left;
    background-color:orange;
}
#msg_4 div {
    float:left;
    background-color:orange;
}
#msg_2{
    border: solid red;
    position: absolute;
    width: 70%;
    height: 70%;
    left:calc(50% - 280px);
    top: 50;
    background-color: aqua;
}
#msg_3{
    border: solid red;
    position: absolute;
    width: 70%;
    height: 70%;
    left:calc(50% - 280px);
    top: 50;
    background-color: aqua;
}
#msg_4{
    border: solid red;
    position: absolute;
    width: 70%;
    height: 70%;
    left:calc(50% - 280px);
    top: 50;
    background-color: aqua;
}
.flecha1{
    height: 55px;
    width: 62px;
    top: calc(50% - 27.5px);
    right: -31px;
    position: absolute;
    z-index: 10;
}
.flecha2{
    height: 55px;
    width: 62px;
    left: calc(50% - 27.5px);
    top: 335;
    position: absolute;
}
.flecha3{
    height: 55px;
    width: 62px;
    left: calc(50% - 27.5px);
    top: -31;
    float: right;
    position: absolute;
}
.flecha4{
    height: 55px;
    width: 62px;
    top: calc(50% - 27.5px);
    left: -31px;
    float: left;
    position: absolute
}