#central{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    width: 600px;
    height: 600px;
    background-color: brown;
    border: solid black 1px;
}
#derecho{
    position: absolute;
    width: 400px;
    height: 600px;
    background-color: brown;
    top:50%;
    margin-top:-300;
    left: 1100;
    border: solid black 1px;
}
video{
    position: relative;
    height: 500px;
    width: 500px;
    left: 50;
}
#barra-reproduccion{
    position: relative;
    width: 500px;
    height: 50px;
    top:-115;
    left: 50;
    background-color: white;
    border: solid black 1px;
}
#barra-progreso{
    position: relative;
    border: solid black 1px;
    width: 500px;
    height: 20px;
    left: 50;
    top: -185;
    background-color: white;
}
#progreso{
    position: relative;
    height: 10px;
    background-color: crimson;
}
#barra-reproduccion button{
   position: relative;
   height: 40px;
   width: 70px; 
   top:5;
   left:30;
}
#derecho div{
    top:30;
    left: 30;
}
#derecho img{
    border: solid black 1px;
}
#contenedor-1{
    position: relative;
    width: 300px;
    height: 150px;
    background-color: aliceblue;
    border: solid black 0.5px;
}
#contenedor-2{
    position: relative;
    width: 300px;
    height: 150px;
    background-color: aliceblue;
    border: solid black 0.5px;
}
#contenedor-3{
    position: relative;
    width: 300px;
    height: 225px;
    background-color: aliceblue;
    border: solid black 0.5px;
}