body{
    background: url("fondo.jpg");
}
#main-container{
    position: relative;
    width: 800px;
    height: 600px;
    top:20px;
    transition: width .5s;
    left: calc(50% - 400px);
    border: solid black 1px;
    background: url("tablero.jpg");
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}
#tablero{
    position: absolute;
    width: 500px;
    height: 400px;
    transition: top,left 1s;
    left:calc(50% - 250px);
    top:calc(50% - 200px);
    border: solid black 1px;
    
}
#play{
    background-image: url("play.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 12;
    top:10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.preDesplazamiento {
    left:calc(50% - 35px);
}

#tablero button{
    float: left;
    height: 133px;
    width: 166px;
}
.neutro{
}
.positivo{
background-image: url("draven.png");
background-size: 95%;
background-repeat: no-repeat;
background-position: center;
background-color: red;
transition: background-color 1000ms linear;

}
.negativo{
background-image: url("riven.png");
background-size: 95%;
background-repeat: no-repeat;
background-position: center;
background-color:greenyellow;
transition: background-color 1000ms linear;

}


#capa{
    position: absolute;
    z-index: 11;
    width: 100%;
    height:100%;
    
}
.desplazamiento {
    animation-duration: 1s;
    animation-name: slidein;
    left:100%;
  }
  
  @keyframes slidein {
    from {left:calc(50% - 35px)}
    25%{left:calc(50% - 300px)}
    to { left:100%}
  }

.capa-class{
    background-color: rgba(0, 0, 0, 0.6);
}
.capa-class-2{
    animation-duration: 1s;
    animation-name: capa;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

@keyframes capa {
    from { opacity:100;}
    25%{ opacity: 50;}
    to { opacity: 0;}
  }


@media screen and (max-width: 800px) {
    
    #main-container{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: solid black 1px;
    }
    #tablero{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: width,height,top,left 1s;
        top: 0;
        left: 0;
        border: solid black 1px;
    }
    #tablero button{
        float: left;
        height: 33.3%;
        width: 33.3%;
    }
}
