.central{
    border: solid black;
    left: 20%;
    width: 1000px;
    height: 350px;
    position: absolute;
    background-color:floralwhite;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.cuadro{
    width: 200px;
    height: 200px;
    margin:2.5%;
    float: left;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
button{
    float: left;
    height: 30px;
    width: 100px;
    margin-left: 7.5%;
    margin-right: 7.5%;
}
#elemento_1{
background-color: cadetblue;
}
#elemento_2{
background-color: chocolate;    
}
#elemento_3{
background-color: blueviolet;    
}
#elemento_4{
background-color: crimson;    
}
.redondeo{
    transition: border-radius;
    border-radius:50%;
    transition-duration: 2s;
}